<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.troubleshooters.diu.phrm">

    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity" />
        <activity android:name=".MedicationActivity" />
        <activity android:name=".NutritionActivity" />
        <activity android:name=".ExerciseActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LogInActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name=".WelcomeScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".ReportActivity" />
        <activity android:name=".CreatMedicationPlanActivity" />
        <activity android:name=".ManageItemActivity" />
        <activity android:name=".BloodPressureActivity" />
        <activity android:name=".GlucoseActivity" />
        <activity android:name=".AddMealActivity" />

        <receiver android:name=".NotificationReceiver" />
        <receiver android:name=".MedicationAlarm" />
        <receiver android:name=".ResetApp"/>

        <activity android:name=".EditMedication"></activity>
    </application>

</manifest>